

 header nav{float:right;
margin-right: 20;
color: white;
}
header{color: white}
header {background-color: black;}
footer{background-color: black;}
footer p { color: white;}

header img{ margin-left: auto;}