

 header nav{float:right;
margin-right: 20;
color: white;
}



header{color: white}
header {background-color: black;}
footer{background-color: black;}
footer p { color: white;}
body form { background-color:wheat;
    width: 300px;
  
    padding: 50px;
    margin: 20px;
}
header img{ margin-left: auto; }
.show img{
    background-color: azure;
width: 100px;
height:100px;
}
#divadd {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   gap : 50px;
}
.show {
    border: 15px solid black;
}